* {
    margin: 0;
    padding: 0;
    font-family: "Arial", sans-serif;
    font-weight: bold;
    color: rgb(167, 48, 48);
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: burlywood;
    width: 100%;
    height: auto;
}

::selection {
    background-color: rgb(150, 137, 137);
}

.container {
    text-align: center;
}

h1 {
    margin-top: 0;
}

.options {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.player, .computer {
    margin-right: 20px;
}

.choice img {
    width: 100px;
    cursor: pointer;
}

.result {
    margin-bottom: 20px;
}


.result_images img{
    width: 100px;
    height: 100px;
}

.result{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.result_images {
    display: flex;
    column-gap: 7rem;
}
